/*****************************************************************************
 Eric Meyer's reset reloaded
 http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
 *****************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/*****************************************************************************
 HTML elements
 *****************************************************************************/
body {
  background-color: #3f2b30;
  font: 13px/160% Arial, Helvetica, sans-serif;
  color: #8c827a;
}
h1, h2, h3 {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: normal;
  line-height: 120%;
}
h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 32px;
  color: #c2aa99;
}
h2 {
  font-size: 24px;
}
h1.title, h2.title {
  border-bottom: 1px solid #432c32;
}
h2.title a {
  font-weight: normal;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
hr {
  border: 1px solid #432c32;
}
p {
  margin: 12px 0;
}
blockquote {
  background: url(images/blockquote-start.png) no-repeat left top;
  padding-left: 20px;
  margin-left: 10px;
}
blockquote p {
  background: url(images/blockquote-end.png) no-repeat right bottom;
}
pre {
  margin: 12px 0;
  padding: 5px;
  border: 1px solid #432c32;
  line-height: 140%;
}
a:link, a:visited {
  color: #628d9f;
  text-decoration: none;
  font-weight: bold;
}
a:hover, a:active, a.active {
  color: #8ab1c1;
  text-decoration: underline;
}
abbr, acronym, cite {
  border-bottom: 1px dotted #432c32;
}
address, em, dfn, var {
  font-style: italic;
}
big {
  font-size: 120%;
}
pre, code, kbd, samp, tt {
  font-family: "Courier New", Courier, monospace;
  background-color: #301e22;
}
del, s, strike {
  text-decoration: line-through;
}
img {
  border: 0;
}
ins {
  text-decoration: underline;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
small {
  font-size: 80%;
}
strong, label, legend {
  font-weight: bold;
}
sub, sup {
  font-size: xx-small;
}
sub {
  vertical-align: bottom;
}
sup {
  vertical-align: top;
}
dl {
  margin: 12px 0 12px 20px;
}
dt {
  margin-top: 12px;
}
dd {
  margin-left: 20px;
}
ol, ul {
  margin-left: 32px;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
fieldset {
  border: 1px solid #432c32;
  padding: 10px;
  margin: 12px 0;
}
table {
  width: 100%;
  margin: 12px 0;
  border-collapse: collapse;
}
thead th {
  padding-right: 0;
  border-bottom: 3px solid #432c32;
  background-color: #372529;
  font-weight: bold;
}
tbody th {
  border-bottom: 1px solid #432c32;
}
th {
  border-bottom: 1px solid #432c32;
  font-weight: bold;
}
td, th {
  padding: 3px 6px;
  vertical-align: top;
}
input, select, textarea {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6bbb3;
  background-color: #301e22;
  border: 1px solid #673f4b;
  padding: 2px;
}
input.form-submit, input.teaser-button {
  background-color: #28191c;
  border-width: 1px;
  border-style: solid;
  border-color: #3f2b30 #311f23 #311f23 #3f2b30;
  padding: 2px 12px;
  overflow: visible;
  font: italic 18px Georgia, serif;
  cursor: pointer;
}
#search-box input.form-submit {
  font: normal 12px Arial, Helvetica, san-serif;
}
input.form-checkbox, input.form-radio {
  border: 0;
  background: transparent;
}
textarea {
  line-height: 160%;
}

/*****************************************************************************
 Layout styles
 *****************************************************************************/
.clear-block {
  clear: both;
}
.container {
  width: 960px;
  margin: 0 auto;
}
#upper {
  background: url(images/top-gradient.png) repeat-x left top;
}
#upper .container {
  background: url(images/main-bg.png) no-repeat left top;
}
#primary-and-search-box {
  height: 32px;
  padding-top: 3px;
}
#primary {
  float: left;
  width: 590px;
}
#primary ul, #primary ul li {
	padding: 0;
	margin: 0;
}
#primary ul li {
	float: left;
  list-style-image: none;
  list-style-type: none;
  background: transparent url(images/primary-link-separator.gif) no-repeat right 9px;
  padding: 6px 24px 2px 5px;
}
#primary ul li.last {
  background: none;
}
#primary ul li a {
  color: #a57f88;
  text-transform: uppercase;
}
#primary ul li a:hover, #primary ul li a:active, #primary ul li a.active, #primary ul li.sfhover a {
  text-decoration: none;
  border-bottom: 3px solid #a57552;
  color: #ecd2d9;
}
#primary ul ul li {
	width: 160px;
  background: none;
}
#primary ul ul a {
	width: 130px;
  display: block;
  text-transform: none;
}
#primary ul ul {
	position: absolute;
	background: #301e22;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  border-color: #4f383d;
	width: 160px;
	left: -999em;
  z-index: 999;
}
#primary ul ul li {
  margin: 0;
  padding: 0;
}
#primary ul ul li a {
  padding: 3px 15px;
  border-bottom: 1px solid #4f383d;
}
#primary ul li.sfhover ul li a {
  background: none;
  border-bottom: 1px solid #4f383d;
  color: #a57f88
}
#primary ul ul li a:hover, #primary ul ul li a:active, #primary ul ul li a.active, #primary ul li.sfhover ul li a:hover, #primary ul li.sfhover ul li a:active, #primary ul li.sfhover ul li a.active {
  text-decoration: none;
  border-bottom: 1px solid #4f383d;
  background: #3d2b2f;
  color: #ecd2d9;
}
#primary ul ul li:hover, #primary ul ul li.over {
  background: #3d2b2f;
}
#primary ul ul ul {
	margin: -28px 0 0 160px;
}
#primary ul li:hover ul ul, #primary ul li.sfhover ul ul {
	left: -999em;
}
#primary ul li:hover ul, #primary ul li li:hover ul, #primary ul li.sfhover ul, #primary ul li li.sfhover ul {
	left: auto;
}
#search-box {
  float: right;
  width: 340px;
  height: 29px;
  padding-top: 3px;
  background: #5e3944 url(images/search-bg.png) no-repeat left top;
}
#search-box input.form-text {
  background: #3f242c url(images/search-icon.png) no-repeat 8px 5px;
  padding: 5px 5px 5px 35px;
  margin: 0 10px 0 20px;
  width: 170px;
  float: left;
  border: 0;
  color: #c6bbb3;
}
#search-box input.form-submit {
  padding: 3px 12px;
  overflow: visible;
  font-weight: bold;
  background-color: #28191c;
  border-top: 1px solid #3f2b30;
  border-right: 1px solid #311f23;
  border-bottom: 1px solid #311f23;
  border-left: 1px solid #3f2b30;
  color: #c6bbb3;
}
#site-name-and-slogan {
  text-align: center;
  padding-top: 30px;
  height: 107px;
  text-transform: lowercase;
}
#site-name a {
  font: italic normal 55px/100% Georgia, serif;
  color: #ded8cd;
}
#site-name a:hover, #site-name a:active {
  text-decoration: none;
  color: #f5f2eb;
}
#site-slogan {
  font: italic 20px/100% Georgia, serif;
  text-transform: lowercase;
  letter-spacing: 3px;
  padding-top: 5px;
}
#main-and-sidebar {
  min-height: 340px;
  padding-bottom: 20px;
}
#main {
  width: 550px;
  padding: 20px;
  float: left;
  background: #372529 url(images/content-bg.png) no-repeat right top;
}
#mission {
  margin-bottom: 20px;
  padding: 20px;
  background: #301e22 url(images/swirls.png) no-repeat right top;
}
#sidebar {
  width: 300px;
  padding: 20px;
  float: right;
  background: #372529 url(images/sidebar-bg.png) no-repeat left top;
}
#lower {
  overflow: hidden;
}
#bottom {
  background: #372529 url(images/bottom-outer-bg.png) repeat-x left bottom;
}
#bottom .container {
  background: #372529 url(images/bottom-bg.png) no-repeat left bottom;
  padding: 20px 0 36px 0;
  display: table;
}
#bottom-left-and-centre {
  width: 590px;
  float: left;
}
#bottom-left {
  float: left;
  width: 280px;
}
#bottom-centre {
  float: right;
  width: 280px;
}
#bottom-right {
  width: 340px;
  float: right;
}
#footer-wrapper {
  background: #251116 url(images/footer-bg.png) no-repeat center top;
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 38px;
}
#secondary {
  float: left;
  width: 590px;
}
#secondary ul, #secondary li, #secondary a {
  padding: 0;
  margin: 0;
  background: none;
  list-style-type: none;
}
#secondary li {
  padding: 8px 24px 4px 5px;
  text-transform: uppercase;
  float: left;
  background: transparent url(images/primary-link-separator.gif) no-repeat right 9px;
}
#secondary li a {
  color: #a57f88;
  text-decoration: none;
  padding: 8px 0 1px 0;
}
#secondary li a:hover, #secondary li.active a {
  border-bottom: 3px solid #a57552;
  color: #ecd2d9;
}
#secondary li.first {
  padding-left: 0;
}
#secondary li.last {
  background: none;
  padding-right: 0;
}
#footer {
  float: right;
  width: 340px;
  font-size: 12px;
  color: #80766e;
  text-align: right;
}
#theme-credits {
  font-size: 11px;
  font-style: italic;
  padding-top: 10px;
  line-height: 140%;
}

/*****************************************************************************
 Block module
 *****************************************************************************/
#blocks td.region {
  font-weight: bold;
  background-color: #322225;
}
#blocks tr.region-message {
  color: #6f665f;
}
.block {
  margin-bottom: 20px;
}
#sidebar .block-1 .content {
  background: #301e22 url(images/swirls.png) no-repeat right top;
  padding: 10px;
}

/*****************************************************************************
 Book module
 *****************************************************************************/
.book-navigation .menu {
  border-top: 1px solid #18633e;
  padding: 5px;
}
.book-navigation .page-links {
  border-top: 1px solid #18633e;
  border-bottom: 1px solid #18633e;
}
#book-outline {
  min-width: 100%;
}

/*****************************************************************************
 Comment module
 *****************************************************************************/
.indented {
  margin-left: 20px;
}
.comment {
  margin-bottom: 15px;
  background-color: #301e22;
  padding: 10px;
}
.comment h3 {
  border-bottom: 1px solid #432c32;
}
.comment h3 a {
  font-weight: normal;
  text-decoration: none;
}
.comment .control-links {
  font-size: 11px;
  padding-top: 5px;
}
#comments .box h2 {
  border-bottom: 1px solid #432c32;
}
.comment-unpublished, .preview .comment {
  background-color: #301e22;
}

/*****************************************************************************
 Node module
 *****************************************************************************/
.node-unpublished, .preview .node {
  background-color: #00542a;
}
#node-admin-filter ul li {
  list-style-type: none;
}
td.revision-current {
  background: #e0e389;
}
.node .quick-edit-links {
  float: right;
  margin-left: 10px;
}
.node .quick-edit-links li {
  padding: 0;
}
.node {
  margin-bottom: 20px;
}
.submitted, span.submitted, span.comment-count {
  font-size: 11px;
  color: #6f665f;
}
span.comment-count {
  background: url(images/comment-icon.gif) no-repeat right center;
  padding-right: 18px;
}
.node .control-links {
  padding-top: 5px;
  font-size: 11px;
}

/*****************************************************************************
 Poll module
 *****************************************************************************/
.poll .bar {
  background-color: #83a41d;
}
.poll .bar .foreground {
  background-color: #495d0d;
}
.poll .vote-form {
  text-align: left;
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .title {
  font-weight: bold;
}

/*****************************************************************************
 Profile module
 *****************************************************************************/
.profile h3 {
  border-bottom: 1px solid #432c32;
}
.profile .picture {
  float: right;
  margin: 0 0 10px 10px;
}

/*****************************************************************************
 Search module
 *****************************************************************************/
.search-results .search-info {
  font-size: 11px;
  color: #6f665f;
}

/*****************************************************************************
 System module
 *****************************************************************************/
/*
 * HTML elements
 */
tr.even, tr.odd {
  padding: 3px 6px;
  border-bottom: 1px solid #432c32;
}
tr.odd {
  background-color: #3c282d;
}
tr.odd td.active {
  background-color: #422c32;
}
tr.even {
  background-color: #372529;
}
tr.even td.active {
  background-color: #3b282c;
}
tr.drag-previous, tr.drag {
  background-color: #483136;
}
td.active {
  background-color: #004221;
}

/*
 * Formatting for administration page
 */
div.admin-panel {
  padding: 10px;
  background: #301e22;
  margin-bottom: 20px;
}
div.admin .left {
  width: 48%;
  margin-left: 0;
  clear: none;
}
div.admin .right {
  clear: none;
  width: 48%;
  margin-right: 0;
}
div.admin-dependencies, div.admin-required {
  font-size: 11px;
  color: #6f665f;
}

/*
 * Formatting for status report
 */
table.system-status-report tr.info th, table.system-status-report tr.info td {
  border-bottom: 0;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th, table.system-status-report tr.ok td {
  background-color: #ade2b8;
  border-color: #80b58b;
  color: #358439;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th, table.system-status-report tr.warning td {
  background-color: #f8f8a6;
  border-color: #b8b85c;
  color: #847235;
}
table.system-status-report tr.error, table.system-status-report tr.error th, table.system-status-report tr.error td {
  background-color: #e4a7a7;
  border-color: #cd8585;
  color: #843535;
}

/*
 * Other common styles
 */
div.messages, div.warning {
  padding: 3px 6px;
  margin: 5px 0;
  border-width: 1px;
  border-style: solid;
  color: #302b21;
}
div.messages.status, div.ok {
  background-color: #d3eed3;
  border-color: #2a502a;
}
div.warning {
  background-color: #f4ebe1;
  border-color: #ac7200;
}
div.error {
  background-color: #ffcdcd;
  border-color: #9c4c4c;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #9b4766;
  background-color: #3c222c;
  color: #b56a86;
}
.form-item .description, .tips {
  font-size: 11px;
  color: #6f665f;
}
.marker, .form-required {
  color: #a84c6d;
}

/*
 * Tab navigation
 */
ul.tabs.primary, ul.tabs.primary li, ul.tabs.primary li a, ul.tabs.primary li.active a,
ul.tabs.secondary, ul.tabs.secondary li, ul.tabs.secondary li a, ul.tabs.secondary li.active a {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}
div.tabs {
  padding: 10px 0;
}
div.tabs ul.tabs.primary li a {
  background: transparent url(images/tabs.png) no-repeat center 0;
  padding: 5px 10px 11px 10px;
  margin-right: 5px;
  float: left;
}
div.tabs ul.tabs.primary li a:hover, div.tabs ul.tabs.primary li.active a {
  background: transparent url(images/tabs.png) no-repeat center -32px;
}
div.tabs ul.tabs.secondary {
  margin-top: 5px;
  clear: both;
}
div.tabs ul.tabs.secondary li a {
  background: transparent url(images/tabs.png) no-repeat center -64px;
  padding: 1px 10px 5px 10px;
  margin-right: 5px;
  font-size: 12px;
  float: left;
}
div.tabs ul.tabs.secondary li a:hover, div.tabs ul.tabs.secondary li.active a {
  background: transparent url(images/tabs.png) no-repeat center -91px;
}

/*
 * Autocomplete styles
 */
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(images/throbber.gif);
  background-position: 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}

/*
 * Collapsing fieldsets
 */
html.js fieldset.collapsible legend a {
  background: transparent url(images/menu-expanded.gif) no-repeat left center;
}
html.js fieldset.collapsed legend a {
  background: transparent url(images/menu-collapsed.gif) no-repeat left center;
}

/*
 * To be used with tableselect.js
 */
tr.selected td {
  background-color: #483136;
}
a.tabledrag-handle .handle {
  background: transparent url(images/draggable.png) no-repeat 0 0;
}

/*
 * System menus
 */
li.expanded {
  list-style-image: url(images/menu-expanded.gif);
}
li.collapsed, li.leaf {
  list-style-image: url(images/menu-collapsed.gif);
}
li a.active {
  color: #8ab1c1;
}
ul.menu a {
  display: block;
}

/*****************************************************************************
 User module
 *****************************************************************************/
#permissions td.module {
  background-color: #322225;
}
#user-admin-filter ul li {
  list-style-type: none;
}
